.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
}

.navbar--logo--container {
  display: flex;
  height: 90px;
  padding: 18px 25px;
  box-shadow: 0px 2.98256px 7.4564px #ff5a5f;
}

.navbar--logo {
  max-width: 150px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.content--pic {
  width: 800px;
  height: 400px;
  align-self: center;
}

.content--heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  /* identical to box height, or 40px */

  color: #000000;
  margin-bottom: 15px;
}
.content--para {
  margin-top: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

.grey {
  color: #918e9b;
}
.card--star {
  height: 0.8em;
}
.experiences {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.card {
  margin: 10px;
  font-weight: 300;
  max-width: 150px;
  font-size: 12px;
  line-height: 110%;
  /* identical to box height, or 13px */
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  color: #222222;
  position: relative;
}

.card--details{
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--image {
  max-width: 150px;
  margin-bottom: 5px;
}

/* ADD */
.card--price {
  margin-top: auto;
}

.bold{
  font-weight: bold;
}

.card--badge{
  position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;

}